*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: #000000;
    overflow: hidden;
    background: url(https://images.pexels.com/photos/1260727/pexels-photo-1260727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.wrapper{
    display: block;
}

p{
    font-size: 6em;
    text-align: center;
}

.boxes {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.box {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    flex: 30%;
    max-width: 30%;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.box:hover{
    transform:translate(-6px,-6px);
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}
.box-header {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 2px solid gray;
    background-color: darkgray;
    padding: 5px 10px;
    position: relative;
}

.box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
  
.main-description {
    font-size: 28px;
    text-align: center;
    min-height: 35px;
}